/* Styles for the detail pane. */

body {
    background-color: black;
    color: white;
    padding: 16px;
}

img {
    margin: 16px;
    padding: 8px;
    border: 1px dotted #666;
}

a {
    color: #08f;
}


::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: #222;
}
::-webkit-scrollbar-button {
    background-color: #444;
    border: 1px outset #666;

    padding: 1px;
    min-width: 17px;
    min-height: 17px;
}
::-webkit-scrollbar-corner {
    background-color: #222;
}
::-webkit-scrollbar-thumb {
    background-color: #444;
    border: 1px outset #666;
}


#gamebase_name {
    float: right;
}
#gamebase_title {
    float: right;
}
#gamebase_image {
    float: right;
    border: none;
    max-width: 300px;
    max-height: 500px;
}
#name {
    font-size: 140%;
    display: inline;
}
#year {
    display: inline;
    margin-left: 4px;
}
#year:before {
    content: ' (';
}
#year:after {
    content: ')';
}
